.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  min-height:300px;
  margin: 0 100px 0 100px;
  align-items: center;
  justify-content: center;
}