.Register{
    width: 50%;
}
.Register-title{
    background-color: rgb(232 181 148);
    height: 40px;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Register-form{
    display: flex;
    justify-content: center;
}
.Register-boton{
    background-color: rgb(191 76 2);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: #FAFAFA;
    width: 40%;
}